@import '../../assets/styles/colors';

.artists-container {
  display: flex;
  flex-direction: column;

  .hints {
    display: flex;
    align-items: center;
    height: 40px;
    color: $gray;
    font-size: 13px;
    text-transform: uppercase;

    .display-name {
      width: 30%;
    }
  
    .user-rating {
      width: 10%;
    }
  
    .email {
      width: 35%;
    }
  
    .created-at {
      width: 25%;
      text-align: right;
    }
  }
}
