.navigation-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  margin-bottom: 15px;
  border-bottom: 1px solid #707070;

  .menu-item {
    text-transform: uppercase;
    text-decoration: none;
    color: #707070;
    outline: none;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }

  .user-data {
    label {
      margin: 0 20px;
    }
    .sign-out {
      background-color: #db3236;
      color: #fff;
      text-transform: uppercase;
      border: none;
      width: 85px;
      height: 25px;
      cursor: pointer;
    }
  }
}
