.app-container {
  display: flex;
  flex-direction: column;

  .main-section {
    width: 1000px;
    margin: 15px auto;
  }

  @media screen and (max-width: 1281px) {
    .main-section {
      width: auto;
    }
  }
}
