.new-item-form {
  display: flex;
  flex-direction: column;

  .form-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  
    h2 {
      text-align: center;
      text-transform: uppercase;
    }

    .button-group {
      width: 300px;
      display: flex;
      justify-content: space-between;
    }
  }

  .inputs-container {
    display: flex;

    .inputs {
      width: 30%;
    }
  
    .description-container {
      width: 70%;
      padding-bottom: 15px;
    }
  }
}
